<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUPABASE_URL</key>
	<string>https://psziiemacrqukdutwvic.supabase.co</string>
	<key>SUPABASE_ANON_KEY</key>
	<string>eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBzemlpZW1hY3JrenFkdXR3dmljIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTA5NDU3MDYsImV4cCI6MjA2NjUyMTcwNn0.Nf5cZ27HJgW8reC8Hj1gRfR7MD55pggRdI9HjX1zuO4</string>
</dict>
</plist>
